<!-- basics -->
<!-- <h1>Angular Intro First Project</h1> -->
 <!-- 1  -->
 <!-- <courses></courses>  -->
 <!-- 2 -->
<!-- <app-favorite [isActive]= "post.isActive" (click)= "working($event)"></app-favorite> -->
<!-- 3 -->
<!-- <app-panel>
    <div class="heading">
        Heading 
    </div>
    <div class="body">
        Body
    </div>
</app-panel> -->

<!-- we dont need to specify/give class or id to div ng content if
     we have only one ng content in panel html fine -->

<!-- 4 -->
<!-- <app-like-count
[isliked]="tweet.isliked"
[count]="tweet.count"
></app-like-count>      -->

<!-- 5 -->
<!-- <div *ngIf="courses.length>0">
    Yes We Have courses
</div>

<div *ngIf="courses.length===0">
    No there are none courses
</div> -->

<!-- 6 -->
<!-- <div *ngIf="showMessage.length>0; else noMessage">
    <p>This message is displayed only when showMessage is true.</p>
  </div>
<ng-template #noMessage>
    <p>There is no message to display.</p>
</ng-template> -->

<!-- 7 -->

<!-- <div [hidden]="showMessage.length === 0">
    List of courses
</div>
<div [hidden]="showMessage.length>0">
    No Course Yet
</div> -->