<!-- basics -->
<!-- <h1>Angular Intro First Project</h1> -->
 <!-- 1  -->
 <!-- <courses></courses>  -->
 <!-- 2 -->
<!-- <app-favorite [isActive]= "post.isActive" (click)= "working($event)"></app-favorite> -->
<!-- 3 -->
<!-- <app-panel>
    <div class="heading">
        Heading 
    </div>
    <div class="body">
        Body
    </div>
</app-panel> -->

<!-- we dont need to specify/give class or id to div ng content if
     we have only one ng content in panel html fine -->

<!-- 4 -->
<!-- <app-like-count
[isliked]="tweet.isliked"
[count]="tweet.count"
></app-like-count>      -->

<!-- 5 -->
<!-- <div *ngIf="courses.length>0">
    Yes We Have courses
</div>

<div *ngIf="courses.length===0">
    No there are none courses
</div> -->

<!-- 6 -->
<!-- <div *ngIf="showMessage.length>0; else noMessage">
    <p>This message is displayed only when showMessage is true.</p>
  </div>
<ng-template #noMessage>
    <p>There is no message to display.</p>
</ng-template> -->

<!-- 7 -->

<!-- <div [hidden]="showMessage.length === 0">
    List of courses
</div>
<div [hidden]="showMessage.length>0">
    No Course Yet
</div> -->

<!-- 8 -->
<!-- <ul class="nav nav-pills">
    <li
    [class.active]= "viewmode=='map'"
    (click)="viewmode='map'" >
        <a>Map View</a>
    </li>

    <li
     [class.active]= "viewmode=='list'"
     (click)="viewmode='list'" >
        <a>List View</a>
    </li>
</ul>
<div [ngSwitch]= "viewmode">
<div *ngSwitchCase= "'map'">Map view content</div>
<div *ngSwitchCase= "'list'" >List view content</div>
</div>
 -->
<!-- 9 -->

<!-- <ul>
    <li *ngFor="let showMessage of showMessages;even as isEven ">
     {{showMessage}} <span *ngIf="isEven">(EVEN)</span>
    </li>
  </ul> -->

  
  <!-- 10 -->
  
<!-- <app-zippy title="Shipping Details">
    Shipping Details Content
</app-zippy>
<app-zippy title="Billing Details">
    Billing Details Content
    <app-zippy> -->

<!-- 11 -->
 <!-- <app-contact-form></app-contact-form>  -->        

 
<!-- 12 -->
<!-- <app-udemy-course></app-udemy-course> -->

<!-- 13 -->
<!-- <app-sign-up-form></app-sign-up-form> -->